*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Graduate', serif;

}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('./img/foto11.jpg') center/cover no-repeat; 
}
    


.caixa{
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 500px;
    padding: 60px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0,0, 0.2);
}

input{
    margin: 0;
    font-size: 35px;
}

input:focus{
    margin: 0;
    outline: none;
}

h2{
    font-size: 45px;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);}
 

.form-label{
    margin-top: 5px;
}

.form-control{
    border: 0.1px solid;
}

.btn-primary{
    border-radius: 30px;
    margin-top: 30px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 100px;
    padding: 10px;
    font-size: 22px;
  background-color: rgb(22, 17, 94);
    
}

.form-check-input{
    padding: 0.1px;
    border: 0.1px solid;
}

.form-check{
    margin-top: 20px;
    margin-left: 30px;
}

.form-check-label{
    margin-top: 5px;
    font-size: 17px;

}
